n8n-workflow.json
{
  "name": "Claude Code via Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "claude-telegram"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8080/claude",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "{{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300]
    },
    {
      "parameters": {
        "chatId": "{{ $json.message.chat.id }}",
        "text": "{{ $json.output }}",
        "additionalFields": {}
      },
      "id": "telegram-send",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 3,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}
